/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

body{
	margin: 0;
	padding: 0;
}

header{
	width: 100vw;
	height: 10vh;
	
	border: 2px solid black;
}

ul{
	list-style-type: none;
	display: flex;
	margin-left: 5vw;
	padding: 0;
}

.burgermenu{
	width: 10vw;
}

.logo{
	width: 20vw;
	margin-left: 24vw;

}

.zoekicoon{
	width: 9vw;
	margin-left: 18vw;
}

.tasicoon{
	width: 7vw;
	margin-left: 3vw;
}

p{
	font-family: aktiv-grotesk-devanagari, sans-serif;
	text-align: center;
	font-size: 5.33333vw;
	margin-top: 5vh;
	margin-left: 8vw;
	margin-right: 8vw;
}

button{
	width: 90vw;
	height: 6vh;
	background-color: black;
	color: white;
	margin-left: 5vw;
	margin-top: 1vh;
}

.wittebutton{
	width: 90vw;
	height: 6vh;
	background-color: white;
	color: black;
	border: 2px solid black;
	margin-left: 5vw;
	margin-top: 1vh;
}

.mainfoto1{
	width: 100vw;
	margin-top: 7vh;
}

.maintext2{
	font-family: aktiv-grotesk-devanagari, sans-serif;
	text-align: center;
	font-size: 4.5vw;
	margin-top: 5vh;
	margin-left: 17vw;
	margin-right: 17vw;
}

.maintext3{
	font-family: aktiv-grotesk-devanagari, sans-serif;
	text-align: center;
	font-size: 3.5vw;
	margin-top: 5vh;
	margin-left: 7vw;
	margin-right: 7vw;
}

.dropdownbutton{
	width: 100vw;
	height: 6vh;
	padding: 0;
	margin: 0;
	background-color: white;
	color: black;
	border: 2px solid black;

}
/* jouw code */

