/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

body{
	margin: 0;
	padding: 0;
}

header{
	width: 100vw;
	height: 10vh;
	
	border: 2px solid black;
}

ul{
	list-style-type: none;
	display: flex;
	margin-left: 5vw;
	padding: 0;
}

.burgermenu{
	width: 10vw;
}

.logo{
	width: 20vw;
	margin-left: 24vw;

}

.zoekicoon{
	width: 9vw;
	margin-left: 18vw;
}

.tasicoon{
	width: 7vw;
	margin-left: 3vw;
}

p{
	font-family: aktiv-grotesk-devanagari, sans-serif;
	text-align: center;
	font-size: 5.33333vw;
	margin-top: 5vh;
	margin-left: 8vw;
	margin-right: 8vw;
}

button{
	width: 90vw;
	height: 6vh;
	background-color: black;
	color: white;
	margin-left: 5vw;
	margin-top: 1vh;
}

.wittebutton{
	width: 90vw;
	height: 6vh;
	background-color: white;
	color: black;
	border: 2px solid black;
	margin-left: 5vw;
	margin-top: 1vh;
}

.mainfoto1{
	width: 100vw;
	margin-top: 7vh;
}

.maintext2{
	font-family: aktiv-grotesk-devanagari, sans-serif;
	text-align: center;
	font-size: 4.5vw;
	margin-top: 5vh;
	margin-left: 17vw;
	margin-right: 17vw;
}

.maintext3{
	font-family: aktiv-grotesk-devanagari, sans-serif;
	text-align: center;
	font-size: 3.5vw;
	margin-top: 5vh;
	margin-left: 7vw;
	margin-right: 7vw;
	margin-bottom: 8vh;
}

.dropdownbutton{
	width: 100vw;
	height: 6vh;
	padding: 0;
	margin: 0;
	background-color: white;
	color: black;
	border: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 50px;
    height: 50px;
	text-align: left;
	padding-left: 5vw;
}

.dropdownicoon1{
	width: 3vw;
	margin-left: 70vw;
	margin-right: 5vw;
}

.dropdownicoon2{
	width: 3vw;
	margin-left: 68vw;
	margin-right: 5vw;
}

.dropdownicoon3{
	width: 3vw;
	margin-left: 73vw;
	margin-right: 5vw;
}

.dropdownicoon4{
	width: 3vw;
	margin-left: 38vw;
	margin-right: 5vw;
}

.dropdownicoon5{
	width: 3vw;
	margin-left: 60vw;
	margin-right: 5vw;
}

.mainfoto2{
	width: 100vw;
	margin-top: 9vh;
}

.maintext4{
	font-family: aktiv-grotesk-devanagari, sans-serif;
	text-align: center;
	font-size: 8vw;
	font-weight: 700;
	margin-top: 5vh;
	margin-left: 15vw;
	margin-right: 15vw;
}

.maintext5{
	font-family: aktiv-grotesk-devanagari, sans-serif;
	text-align: center;
	font-size: 4vw;
	margin-top: 1vh;
	margin-left: 15vw;
	margin-right: 15vw;
}

/* jouw code */

